<p id="notice"><%= notice %></p>

<p>
  <strong>Ponumber:</strong>
  <%= @order.poNumber %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Contactid:</strong>
  <%= @order.contactID %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Unitcount:</strong>
  <%= @order.unitCount %>
</p>

<p>
  <strong>Targetdate:</strong>
  <%= @order.targetDate %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @order.accepted %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @order.ready %>
</p>

<p>
  <strong>Dispatched:</strong>
  <%= @order.dispatched %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @order.delivered %>
</p>

<p>
  <strong>Invoiced:</strong>
  <%= @order.invoiced %>
</p>

<p>
  <strong>Invoicenumber:</strong>
  <%= @order.invoiceNumber %>
</p>

<p>
  <strong>Aid:</strong>
  <%= @order.aid %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
