<p id="notice"><%= notice %></p>

<p>
  <strong>Order id:</strong>
  <%= @order_item.order_ID %>
</p>

<p>
  <strong>Item code:</strong>
  <%= @order_item.item_code %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @order_item.item_description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @order_item.unit %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @order_item.sub_total %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
